
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
@{ 
    String[] fruit = { "蘋果", "香蕉","荔枝","鳳梨","西瓜"};
    
}
<p>姓名 : 王雯欣</p>
<p>學號 : 123456</p>


@for(var i =0; i<5; i++)
            {
                <p>@i: @fruit[@i]</p>
            }


